<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kadha Recipe</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/recipe.css">
    
</head>

<body>
    {{!--<header>

        <a href="/" class="logo">c<span class="fas fa-virus"></span>vid-19</a>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            <a class="tactive" href="/">home</a>
            <a href="/physiotherapy">exercises</a>
            <a href="/recipe">recipes</a>
            <a href="/prediction">prediction</a>
            <a href="#doctor">doctor</a>
            <a href="/logout">Log Out</a>
            <a href="/profile"> <i class="fa-solid fa-user"></i> </a>
        </nav>

    </header> --}}
    {{>navbar}}

    <section class="home" id="home">
        <div class="content">
            <h1>Kadha Recipe For Covid</h1>
            <p>Kadha is a sore throat remedy. It is an Indian Ayurvedic
                concoction. This is a gharelu nuskha which helps when you got a
                slight sore throat due to change in weather. </p>
        </div>
    </section>

    <section class="recipe" id="recipe">
        <div class="box-container">
            {{#each post.recipes}}
            <div class="container">
                <h2>{{this.title}}</h2>
                <img src={{this.image}}
                    alt="image" width="125px" height="200px"><br>
                <p>{{this.description}}</p>
                <h2>Ingredients</h2><br>
                <ol type="1">
                    {{#each this.ingredients}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
                <h2>Instructions</h2>
                <ol type="1">
                    {{#each this.steps}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
            {{/each}}
            
</body>

</html>